<h1 id="tableLabel">Inventory</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!inventories"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="inventories">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Kernels</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of inventories">
      <td>{{ forecast.id }}</td>
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.kernels }}</td>
    </tr>
  </tbody>
</table>
